@model thesis.Models.ReceivingReport
<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Delete";
}
<section id="content">


    <!-- MAIN STARTS-->
    <main>

        <div class="FirstLayer">

            <div class="applications">

                <h1>Delete</h1>

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    <h4>ReceivingReport</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.RecTime)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RecTime)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.BatchCode)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BatchCode)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Species)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Species)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Category)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.NoOfHeads)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NoOfHeads)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LiveWeight)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LiveWeight)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MeatDealers)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MeatDealers.Id)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Origin)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Origin)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShippingDoc)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShippingDoc)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.HoldingPenNo)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoldingPenNo)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReceivingBy)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReceivingBy)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.AccountDetails)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AccountDetails.Id)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>

        </div>
    </main>
</section>