@using DomainLayer.Models;
@model AccountDetails
<partial name="_Notifications" />

@{
	string filename = ViewBag.FileName;
}

<link rel="stylesheet" href="~/css/view.css" asp-append-version="true" />
<section id="content">


	<!-- MAIN STARTS-->
	<main class="registration">
		<div class="container">
			<header>View Details</header>

			<form action="#" class="form">
				<div class="column">
					<div class="input-box">
						<label>First Name</label>
						<input type="text" placeholder="@Model.FirstName" disabled />
					</div>
					<div class="input-box">
						<label>Middle Name</label>
						<input type="text" placeholder="@Model.MiddleName" disabled />
					</div>
					<div class="input-box">
						<label>Last Name</label>
						<input type="text" placeholder="@Model.LastName" disabled />
					</div>
				</div>

				<div class="input-box address">
					<div class="input-box">
						<label>Address</label>
						<input type="text" placeholder="@Model.Address" disabled />
					</div>
				</div>

				<div class="column">
					<div class="row">
						<div class="input-box">
							<label>Birth Date</label>
							<input type="date" placeholder="@Model.BirthDate" disabled />
						</div>

						@* <div class="input-box roles">
							<label>Role</label>
							<input type="text" placeholder="@Model.Roles" disabled />
						</div> *@
						<div class="input-box roles">
							<label>Sex</label>
							<input type="text" placeholder="@Model.Gender" disabled />
						</div>
						<div class="input-box">
							<label>Email</label>
							<input type="email" placeholder="@Model.Email" class="text" disabled />
						</div>
					</div>
					<div class="row">
						<div class="upload-box">
							<label>Profile Picture</label>
							<div class="container">
								<img src="~/img/uploaded/@filename" alt="Adrianne" class="img-area" style="height: 300px;">
							</div>
						</div>
					</div>
				</div>
				<button style="background-color:grey; " asp-action="Index">
					Go back to the previous page
				</button>
			</form>
		</div>


	</main>
	<!-- MAIN ENDS -->

</section>

<script src="~/js/view.js" asp-append-version="true"></script>