@using DomainLayer.Models;
@model AccountDetails

@{
	string filename = ViewBag.FileName;
}

<link rel="stylesheet" href="~/css/delete.css" asp-append-version="true" />
<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
<style>
	#content .FirstLayer .applications h3 {
		font-size: 40px;
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 5px;
		color: var(--black);
	}
</style>

<section id="content">
	<!-- MAIN STARTS-->
	<main class="registration">
		<a style="color:var(--green7); margin-left: 5px;" asp-action="IndexInspectorAdmin">
			Back to List
		</a>
		<div class="FirstLayer">
			<div class="applications">
				<h3>Delete | User Information</h3>
				<hr />
				<form asp-action="MeatCheckDelete" class="form">
					<div class="column">
						<div class="input-box">
							<label>First Name:</label>
							<input type="text" placeholder="@Model.FirstName" readonly />
						</div>
						<div class="input-box">
							<label>Middle Name:</label>
							<input type="text" placeholder="@Model.MiddleName" readonly />
						</div>
						<div class="input-box">
							<label>Last Name:</label>
							<input type="text" placeholder="@Model.LastName" readonly />
						</div>
					</div>

					<div class="input-box address">
						<div class="input-box">
							<label>Address:</label>
							<input type="text" placeholder="@Model.Address" readonly />
						</div>
					</div>

					<div class="column">
						<div class="row">
							<div class="input-box">
								<label>Birth Date:</label>
								<input type="text" id="birthdate" placeholder="@Model.BirthDate" readonly />
							</div>
							<script>
								document.addEventListener("DOMContentLoaded", function () {
									var birthdateInput = document.getElementById("birthdate");

									// Get the placeholder value
									var placeholder = birthdateInput.getAttribute("placeholder");

									// Extract only the date part (yyyy-MM-dd)
									var datePart = placeholder.split(" ")[0];

									// Set the input value to the date part
									birthdateInput.value = datePart;
								});
							</script>

							@* <div class="input-box roles">
								<label>Role:</label>
								<input type="text" placeholder="@Model.Roles" readonly />
							</div> *@
							<div class="input-box roles">
								<label>Sex:</label>
								<input type="text" placeholder="@Model.Gender" readonly />
							</div>
							<div class="input-box">
								<label>Email:</label>
								<input type="email" placeholder="@Model.Email" class="text" readonly />
							</div>
						</div>
						<div class="row">
							<div class="upload-box">
								<label>Profile Picture</label>
								<div class="container">
									<img src="~/img/uploaded/@filename" alt="Adrianne" class="img-area" style="height: 300px;">
								</div>
							</div>
						</div>
					</div>
					<div class="column">




						@*<button style="background-color: red;">Confirm Delete</button>*@
						<input type="hidden" asp-for="Id" />
						<button type="submit" value="MeatCheckDelete">Confirm Delete</button>
					</div>
				</form>
			</div>



		</div>


	</main>
	<!-- MAIN ENDS -->

</section>

<script src="~/js/view.js" asp-append-version="true"></script>