@using Azure.Core;
@model IEnumerable<DomainLayer.Models.Antemortem>
<link href="~/css/inspectorsidenav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>
            showToast(ViewBag.AlertMessage)
        </script>
    }
}
<section id="content">


    <!-- MAIN STARTS-->
    <main>

        <div class="FirstLayer">
            <h1>Conduct of Antemortem Inspection</h1>
        </div>
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">I</a></li>
                </ol>
            </nav>
        </div>

        <div class="FirstLayer">

            <div class="applications">

                @if (User.IsInRole("MeatInspector"))
                {
                    <a asp-action="Create"> Create Report </a>
                }
                @*    <br />
                <div class="head">
                Time: <text type="text" name="Time" id="time" disable /> @ViewBag.MyVariable
                </div>
                <div class="head">
                Name of Meat Dealer: <text type="text" name="Meat Dealer" disable />
                </div>

                <div class="head">
                Species of Food Animals: <text type="text" name="Species" disable />
                </div>

                <div class="head">
                Total Number of Food Animals: <text type="text" name="No. of Food Animals" disable />
                </div>
                <br />*@

                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Issue
                            </th>
                            <th>
                                No.of heads
                            </th>
                            <th>
                                Weight
                            </th>
                            <th>
                                Cause
                            </th>
                            @* <th>
                            @Html.DisplayNameFor(model => model.MeatInspectionReport)
                            </th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Issue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cause)
                                </td>
                                @* <td>
                            @Html.DisplayFor(modelItem => item.MeatInspectionReport.Id)
                            </td>*@
                                @if (User.IsInRole("MeatInspector"))
                                {
                                    <td>
                                        <div class="btn-group">
                                            @* <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>*@
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if (User.IsInRole("MeatEstablishmentRepresentative"))
                {
                    <a asp-controller="MeatInspectionReports" asp-action="Index"> Back to List </a>
                }
                @if (User.IsInRole("MeatInspector"))
                {
                    <div class="button">
                        <a class="btn btn-dark " asp-controller="PassedForSlaughters" asp-action="Create"> <span>Next</span> <i class="bx bx-chevron-right"> </i> </a>
                    </div>
                }
                @if (User.IsInRole("InspectorAdmin"))
                {
                    <a asp-controller="MeatInspectionReports" asp-action="Index"> Back to List </a>
                }

            </div>
        </div>
    </main>
    <!-- MAIN ENDS -->

</section>