@model DomainLayer.Models.ReceivingReport

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
<style>
    #content .FirstLayer .applications h3 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        color: var(--black);
    }

    .backbtn {
        margin-left: 5px;
    }
</style>

<section id="content">
    <main class="registration">
        <div>
            <a class="backbtn" asp-action="Index">Back to List</a>
        </div>
        <div class="FirstLayer">
            <div class="applications">
                <h3>Details | Receiving Report</h3>
                <hr />

                @if (User.IsInRole("MeatEstablishmentRepresentative"))
                {
                    <dl class="row">
                        <dt class="col-sm-2">
                            Date & Time:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RecTime)
                        </dd>
                        <dt class="col-sm-2">
                            Batch Code:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BatchCode)
                        </dd>
                        <dt class="col-sm-2">
                            Animal Specie:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Species)
                        </dd>
                        <dt class="col-sm-2">
                            Category:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            No. of Heads:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NoOfHeads)
                        </dd>
                        <dt class="col-sm-2">
                            Live Weight:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LiveWeight)
                        </dd>
                        <dt class="col-sm-2">
                            Meat Dealer:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MeatDealers.FirstName) 
                            @Html.DisplayFor(model => model.MeatDealers.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            Origin:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Origin)
                        </dd>
                        <dt class="col-sm-2">
                            Shipping Document(s):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShippingDoc)
                        </dd>
                        <dt class="col-sm-2">
                            Holding Pen No.:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoldingPenNo)
                        </dd>
                        <dt class="col-sm-2">
                            Received by:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReceivingBy)
                        </dd>
                        <dt class="col-sm-2">
                            Status:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.InspectionStatus)
                        </dd>
                        <dt class="col-sm-2">
                            Remarks for Returned Report:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MeatInspectionReport.Remarks)
                        </dd>
                        <dt class="col-sm-2">
                            Inspector:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MeatInspectionReport.AccountDetails.FirstName)
                            @Html.DisplayFor(model => model.MeatInspectionReport.AccountDetails.LastName)
                        </dd>
                    </dl>
                    @if (Model.InspectionStatus == DomainLayer.Enum.InspectionStatus.Pending)
                    {
                        <div>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
                        </div>
                    }

                }

                @if (User.IsInRole("InspectorAdministrator"))
                {
                    <dl class="row">
                        <dt class="col-sm-2">
                            Date & Time:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.RecTime)
                        </dd>
                        <dt class="col-sm-2">
                            Batch Code:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.BatchCode)
                        </dd>
                        <dt class="col-sm-2">
                            Specie:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Species)
                        </dd>
                        <dt class="col-sm-2">
                            Category:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Category)
                        </dd>
                        <dt class="col-sm-2">
                            No. of Heads:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.NoOfHeads)
                        </dd>
                        <dt class="col-sm-2">
                            Live Weight:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LiveWeight)
                        </dd>
                        <dt class="col-sm-2">
                            Meat Dealer:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MeatDealers.FirstName)
                            @Html.DisplayFor(model => model.MeatDealers.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            Origin:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Origin)
                        </dd>
                        <dt class="col-sm-2">
                            Shipping Document(s):
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShippingDoc)
                        </dd>
                        <dt class="col-sm-2">
                            Holding Pen No.:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.HoldingPenNo)
                        </dd>
                        <dt class="col-sm-2">
                            Received by:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReceivingBy)
                        </dd>
                        <dt class="col-sm-2">
                            Representative:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.AccountDetails.FirstName)
                            @Html.DisplayFor(model => model.AccountDetails.LastName)
                        </dd>
                    </dl>
                }

            </div>

        </div>

    </main>
</section>





