@model DomainLayer.Models.ViewModels.EditReceivingReportViewModel
@using DomainLayer.Enum;
@{

}
<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/createMeatCheck.css" rel="stylesheet" asp-append-version="true" />

<style>
    #content .FirstLayer .applications h3 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        color: var(--black);
    }

    .backbtn {
        margin-left: 5px;
    }
</style>

<section id="content">
    <!-- MAIN STARTS-->
    <main class="registration">
        @*<div class="FirstLayer">
        </div>*@
        @*<div class="FirstLayer">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Receiving/Acceptance</li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>

        </ol>
        </nav>
        </div>*@
        <div>
            <a class="backbtn" asp-action="Index">Back to List</a>
        </div>
        <div class="FirstLayer">
            <div class="applications">
                <h3>Edit | Receiving Report</h3>
                <hr />
                @if (User.IsInRole("MeatInspector"))
                {
                    <a asp-action="Index">
                        <button class="btn btn-primary">Back</button>
                    </a>
                    <br />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Edit">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="form-group">
                                    <label asp-for="RecTime" class="control-label">Date & Time:</label>
                                    <input asp-for="RecTime" class="form-control"  />
                                    <span asp-validation-for="RecTime" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Species" class="control-label">Species:</label>
                                    <input asp-for="Species" class="form-control" disabled />
                                    <span asp-validation-for="Species" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NoOfHeads" class="control-label">No. Of Heads:</label>
                                    <input asp-for="NoOfHeads" class="form-control" disabled />
                                    <span asp-validation-for="NoOfHeads" class="text-danger"></span>
                                </div>
                                <div class="input-box">
                                    <label asp-for="LiveWeight" class="control-label">Live Weight:</label>
                                    <input asp-for="LiveWeight" class="form-control" disabled />
                                    <span asp-validation-for="LiveWeight" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MeatDealersId" class="control-label">Meat Dealer:</label>
                                    <select asp-for="MeatDealersId" class="form-control" asp-items="ViewBag.MeatDealersId" disabled></select>
                                    <span asp-validation-for="MeatDealersId" class="text-danger"></span>
                                </div>

                                <br />
                                <div class="form-group">

                                    @* <a class="btn btn-primary" asp-controller="ConductOfInspections" asp-action="Create">Next</a>*@
                                </div>
                                @*<div class="form-group">
                            <input type="submit" value="Next" class="btn btn-primary" />
                            <br />
                            <a class="btn btn-primary" asp-controller="ConductOfInspections" asp-action="Create">Next</a>
                            </div>*@
                                <button type="submit" asp-controller="ReceivingReports" asp-action="Inspect" asp-route-id="@Model.Id" class="btn btn-warning">Inspect</button>
                            </form>
                        </div>
                    </div>

                    <div>
                    </div>
                }

                @if (User.IsInRole("MeatEstablishmentRepresentative"))
                {
                    <form asp-action="Edit" class="form">
                        <div class="column">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="input-box">
                                <label asp-for="RecTime" class="control-label">Date & Time:</label>
                                <input asp-for="RecTime" class="form-control" id="recTimeInput" readonly />
                                <span asp-validation-for="RecTime" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <label asp-for="BatchCode" class="control-label">Batch Code:</label>
                                <input asp-for="BatchCode" class="form-control" />
                                <span asp-validation-for="BatchCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label asp-for="Species" class="control-label">Specie:</label>
                                <select asp-for="Species" class="form-control" asp-items="@Html.GetEnumSelectList<Species>()">
                                    <option>--Select--</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label asp-for="Category" class="control-label">Category:</label>
                                <select asp-for="Category" class="form-control" asp-items="@Html.GetEnumSelectList<CategoryOfFoodAnimals>()">
                                    <option>--Select--</option>
                                </select>
                            </div>
                            <div class="input-box">
                                <label asp-for="MeatDealersId" class="control-label">Meat Dealer:</label>
                                <select asp-for="MeatDealersId" class="form-control" asp-items="ViewBag.MeatDealersId">
                                    <option> --- Select ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label asp-for="NoOfHeads" class="control-label">No. Of Heads:</label>
                                <input asp-for="NoOfHeads" class="form-control" />
                                <span asp-validation-for="NoOfHeads" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <label asp-for="LiveWeight" class="control-label">Live Weight:</label>
                                <input asp-for="LiveWeight" class="form-control" />
                                <span asp-validation-for="LiveWeight" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">

                            @* <div class="input-box">
                        <label asp-for="Origin" class="control-label"></label>
                        <input asp-for="Origin" class="form-control" />
                        <span asp-validation-for="Origin" class="text-danger"></span>
                        </div>*@
                            <div class="input-box address">

                                <label asp-for="Origin" class="control-label">Origin:</label>
                                <div class="input-box">
                                    <input asp-for="Origin" class="form-control" id="addressInput" />
                                    <span asp-validation-for="Origin" class="text-danger"></span>
                                </div>

                                <div class="column">
                                    <div class="select-box">
                                        <select id="regionSelect" onchange="populateProvinces()">
                                            <option hidden>Region</option>
                                            <!-- Add region options here -->
                                        </select>
                                    </div>
                                    <div class="select-box">
                                        <select id="provinceSelect" onchange="populateCities()">
                                            <option hidden>Province</option>
                                            <!-- Add province options here -->
                                        </select>
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="select-box">
                                        <select id="citySelect" onchange="populateBarangays()">
                                            <option hidden>City/Municipality</option>
                                            <!-- Add city options here -->
                                        </select>
                                    </div>
                                    <div class="select-box">
                                        <select id="barangaySelect" onchange="updateAddressInput()">
                                            <option hidden>Barangay</option>
                                            <!-- Add barangay options here -->
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-box">
                            <label asp-for="ShippingDoc" class="control-label">Shipping Documents:</label>
                            <select id="status" class="form-control" asp-for="ShippingDoc"
                                    asp-items="@Html.GetEnumSelectList<ShippingDocuments>()" multiple>
                            </select>
                            <span asp-validation-for="ShippingDoc" class="text-danger"></span>
                            <input asp-for="ShippingDoc" type="text" id="result" readonly>
                        </div>
                        <div class="column">
                            <div class="input-box">
                                <label asp-for="HoldingPenNo" class="control-label">Holding Pen No.:</label>
                                <input asp-for="HoldingPenNo" class="form-control" />
                                <span asp-validation-for="HoldingPenNo" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <label asp-for="ReceivingBy" class="control-label">Received By:</label>
                                <input asp-for="ReceivingBy" class="form-control" />
                                <span asp-validation-for="ReceivingBy" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="column">
                            <div class="input-box" style="display: none;">
                                <label asp-for="AccountDetailsId" class="control-label"></label>
                                <input id="accountDetailsInput" asp-for="AccountDetailsId" class="form-control" />
                            </div>
                        </div>
                        <div class="input-box">
                            <label asp-for="InspectionStatus" class="control-label">Inspection Status:</label>
                            <select asp-for="InspectionStatus" class="form-control">
                                <option>Pending</option>
                            </select>
                        </div>
                        <button type="submit" data-toggle="modal" data-target="#logoutModal" value="Create">Save</button>

                        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="logoutModalLabel">Receiving Report</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Confirm edited receiving report
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <form asp-area="ReceivingReports" asp-route-returnUrl="@Url.Action("/")" method="post">
                                            <button type="submit" class="btn btn-danger">Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                }
            </div>
        </div>

    </main>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    // Set the value of the input field to the current datetime
    var defaultDateTime = moment().format('YYYY-MM-DDTHH:mm');
    document.getElementById("recTimeInput").value = defaultDateTime;

    function getSelectedValues() {
        // Get the selected options
        var selectedOptions = $('#status option:selected');

        // Initialize an array to store the text of selected options
        var selectedTexts = [];

        // Iterate over the selected options and retrieve their text
        selectedOptions.each(function () {
            selectedTexts.push($(this).text());
        });

        // Join the array of selected texts into a comma-separated string
        return selectedTexts.join(', ');
    }


    // Example of how to use the function
    $('#status').change(function () {
        var selectedValues = getSelectedValues(); // Get the selected values
        $('#result').val(selectedValues); // Set the selected values to the input field
    });

</script>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_Notifications");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script src="~/js/register.js"></script>
<script src="~/js/address.js"></script>
}