@using Microsoft.AspNetCore.Identity
@using DomainLayer.Models
@using DomainLayer.Models.ViewModels
@using System.IO;
@model ResultViewModel

@inject SignInManager<AccountDetails> SignInManager;
@inject UserManager<AccountDetails> UserManager;

@{
    ViewData["Title"] = "Index";

}
 <style data-tag="reset-style-sheet">
        html {
            line-height: 1.15;
        }

        body {
            margin: 0;
        }

        * {
            box-sizing: border-box;
            border-width: 0;
            border-style: solid;
        }

        p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
            margin: 0;
            padding: 0;
        }

        button {
            background-color: transparent;
        }

        button, input, optgroup, select, textarea {
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
        }

        button, select {
            text-transform: none;
        }

        button, [type="button"], [type="reset"], [type="submit"] {
            -webkit-appearance: button;
        }

            button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
                border-style: none;
                padding: 0;
            }

            button:-moz-focus, [type="button"]:-moz-focus, [type="reset"]:-moz-focus, [type="submit"]:-moz-focus {
                outline: 1px dotted ButtonText;
            }

        a {
            color: inherit;
            text-decoration: inherit;
        }

        input {
            padding: 2px 4px;
        }

        img {
            display: block;
        }

        html {
            scroll-behavior: smooth
        }
    </style>
    <style data-tag="default-style-sheet">
        html {
            font-family: Poppins;
            font-size: 16px;
        }

        body {
            font-weight: 400;
            font-style: normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-scheme-green100);
            background-color: var(--dl-color-scheme-yellow20);
        }
    </style>
    <link rel="shortcut icon"
          href="public/logo1.png"
          type="icon/png"
          sizes="32x32" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
          data-tag="font" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          data-tag="font" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
          data-tag="font" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&amp;display=swap"
          data-tag="font" />

    <!--This is the head section-->
    <!-- <script type="text/javascript"> ... </script> -->
   
    <!--This is the head section-->
    <!-- <script type="text/javascript"> ... </script> -->

    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/feedback.css" asp-append-version="true" />

    <div>
        <link rel="stylesheet" href="~/css/result-page.css" asp-append-version="true" />
        <div class="result-page-container">
            
            <div class="navbar-container">
            <a class="result-page-logo" asp-controller="Home" asp-action="Index">
                    <img alt="image"
                     src="~/img/logo-200h.png"
                         class="result-page-image" />
                    <span class="brandName">
                        <span class="result-page-text01">NMIS-</span>
                        <span>&nbsp;SMFA</span>
                    </span>
                </a>
                <div class="result-page-links">
                <a class="result-page-home" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="result-page-articles" href="/Home/Index#articles">ARTICLES</a>
                <a class="result-page-faqs" href="/Home/Index#FAQs">FAQS</a>
                <a class="result-page-aboutus" href="/Home/Index#footer">ABOUT US</a>
                <a class="button-secondary button" asp-controller="Trace" asp-action="Index">TRACE</a>
                <a class="button button-primary" asp-area="Identity" asp-page="/Account/Login">LOG IN</a>
                </div>
                <div class="result-page-burger-menu navbar-burger-menu">
                    <svg viewBox="0 0 1024 1024" class="result-page-icon">
                        <path d="M128 256h768v86h-768v-86zM128 554v-84h768v84h-768zM128 768v-86h768v86h-768z"></path>
                    </svg>
                </div>
               
            </div>
            <div class="result-page-container1">
                <div class="app-component-container app-component-root-class-name">
                    <div class="app-component-container01">

                        <img alt="image"
                             src="~/img/@(Model.Specie).png"
                        class="app-component-image" />
                 
                    </div id="tableOne">
                        <div class="app-component-container02">
                            <span class="app-component-uid brandName" style="text-transform:none;">
                                <span>@Model.UID</span>
                                <br />
                            </span>
                            <h3 class="app-component-productinfo">
                                <span>PRODUCT INFO</span>
                            </h3>
                            <div class="app-component-container03">
                                <p class="app-component-text02"><span>Specie:</span></p>
                                <span class="app-component-specie"><span>@Model.Specie</span></span>
                            </div>
                            <div class="app-component-container04">
                                <p class="app-component-text03">
                                    <span>Category of Food Animal:&nbsp;</span>
                                </p>
                                <span class="app-component-catoffoodanimals">
                                    <span>@Model.Category</span> @*skip*@
                                    <br />
                                </span>
                            </div>
                            <h3 class="app-component-recinfo"><span>FARM INFO</span></h3>
                            <div class="app-component-container05">
                                <p class="app-component-text06"><span>Origin of Food Animals:</span></p>
                                <span class="app-component-receivedby">
                                    <span>@Model.origin</span> @*skip*@
                                    <br />
                                </span>
                            </div>

                            <h3 class="app-component-recinfo"><span>RECEIVING INFO</span></h3>
                            <div class="app-component-container05">
                                <p class="app-component-text06"><span>Received By:</span></p>
                                <span class="app-component-receivedby">
                                    <span>@Model.ReceivingBy</span> @*skip*@
                                    <br />
                                </span>
                            </div>
                        

                        
                        <div class="app-component-container06">
                            <p class="app-component-text09"><span>Received Time:</span></p>
                            <span class="app-component-recdate">
                                <span>@Model.RecTime</span>
                            </span>
                        </div>
                        <div class="app-component-container07">
                            <p class="app-component-text10"><span>Live Weight:</span></p>
                            <span class="app-component-liveweight">
                                <span>@Model.LiveWeight</span>
                            </span>
                        </div>
                        <div class="app-component-container08">
                            <p class="app-component-text11"><span>No. of Heads:</span></p>
                            <span class="app-component-recnoheads"><span>@Model.NoOfHeads</span></span>
                        </div>
                        <h3 class="app-component-insrepinfo">
                            <span>INSPECTION REPORT</span>
                        </h3>
                        <div class="app-component-container09">
                            <p class="app-component-text12"><span>Report Date:</span></p>
                            <span class="app-component-repdate">
                                <span>@Model.RepDate</span> @*skip*@
                            </span>
                        </div>
                        <div class="app-component-container10">
                            <p class="app-component-text13"><span>No. of Heads:</span></p>
                            <span class="app-component-insnoofheads"><span>@Model.RepHeads</span></span>
                        </div>
                        <div class="app-component-container11">
                            <p class="app-component-text14"><span>Dressed Weight</span></p>
                            <span class="app-component-dressedweight">
                                <span>@Model.DressedWeight</span>
                            </span>
                        </div>
                        <div class="app-component-container12">
                            <p class="app-component-text15">
                                <span>Certificate Status:</span>
                            </p>
                            <span class="app-component-cerstatus"><span>@Model.CertificateStatus</span></span>
                        </div>
                    </div>
                </div>
                <div class="result-page-hero">
                    <div class="result-page-container2">
                        <div class="result-page-questions">
                            <span class="result-page-text03 beforeHeading">
                                OTHER MEAT INFO
                            </span>
                            <h1 class="result-page-text04">
                                <span class="result-page-text05">NMIS SCANNED RESULT</span>
                                <br />
                                <span class="result-page-text07">Database</span>
                            </h1>
                            <div data-role="Accordion"
                                 class="result-page-meatuidq question">
                                <div data-type="accordion-header" class="result-page-trigger">
                                    <span class="result-page-text08">
                                        Meat Unique Identifier (UID)
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="result-page-icon02">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="result-page-text09">
                                        @Model.UID
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion"
                                 class="result-page-meatdealerq question">
                                <div data-type="accordion-header"
                                     class="result-page-trigger1">
                                    <span class="result-page-text10">
                                        Meat Dealer (Meat Dealer Name, Address, Contact)
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="result-page-icon04">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="result-page-text11">
                                         NAME: @Model.MeatDealerFName @Model.MeatDealerMName @Model.MeatDealerLName
                                    </span>
                                    <br />
                                    <span class="result-page-text11">
                                         ADDRESS: @Model.MeatDealerAddress
                                    </span>
                                    <br />
                                    <span class="result-page-text11">
                                         CONTACT #: @Model.MeatDealerContactNo
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion"
                                 class="result-page-meatestabq question">
                                <div data-type="accordion-header"
                                     class="result-page-trigger2">
                                    <span class="result-page-text12">
                                        Meat Establishment Address (Establishment Name, Address,
                                        LTO #)
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="result-page-icon06">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="result-page-text13">
                                        NAME: @Model.MeatEstablishmentName
                                         <br />
                                        ADDRESS: @Model.MeatEstablishmentAddress
                                         <br />
                                        LICENSE TO OPERATE: @Model.MeatEstablishmentLTO
                                    </span>
                                </div>
                            </div>
                            <div data-role="Accordion" class="result-page-mtvq question">
                                <div data-type="accordion-header"
                                     class="result-page-trigger3">
                                    <span class="result-page-text14">
                                        Animal Shipping Document/s
                                    </span>
                                    <svg viewBox="0 0 1024 1024" class="result-page-icon08">
                                        <path d="M810 554h-256v256h-84v-256h-256v-84h256v-256h84v256h256v84z"></path>
                                    </svg>
                                </div>
                                <div data-type="accordion-content" class="question-content">
                                    <span class="result-page-text15">
                                       @Model.ShippingDocuments
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

<div class="feedback-container" id="feedback-container">
    <div class="rating-box" id="rating-box-modal">
        <h1 id="header-text";">How was your Experience?</h1>
        <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="btn-done">
            <a href="#" id="submit-button" class="btn">submit rating</a>
        </div>
    </div>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    let hasStarBeenClicked = false;
    let numberOfStarsClicked = 0;


    setTimeout(function() {
      document.getElementById('rating-box-modal').classList.add('show');
    }, 5000);


    const stars = document.querySelectorAll(".stars i");
        stars.forEach((star, index) => {
            star.addEventListener('click', function () {
                hasStarBeenClicked = true;
                numberOfStarsClicked = index + 1;
                stars.forEach((s, idx) => {
                    if (idx <= index) s.classList.add('active');
                    else s.classList.remove('active');
                });
            });
        });


    document.getElementById('submit-button').addEventListener('click', function(e) {
      e.preventDefault();
      const headerText = document.getElementById('header-text');
      const feedbackContainer = document.getElementById('feedback-container');
      const activeStars = document.querySelectorAll('.stars i.active').length;
      
      if (activeStars > 0) {
        headerText.textContent = "Thank you for submitting";
        console.log(`Submitted with ${activeStars} star(s)`);

         fetch('/Trace/SubmitRating', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ NumberOfStarsClicked: numberOfStarsClicked })
                })
                    .then(response => response.json())
                    .then(data => console.log(data.message))
                    .catch(error => console.error('Error:', error));
        
       
        feedbackContainer.remove(); 
      } else {
        headerText.textContent = "Please leave us feedback";
      }
    });
  });
</script>


    <script>
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllAccordions()
        }

        const listenForUrlChanges = () => {
          let url = location.href
          document.body.addEventListener(
            'click',
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts()
                  url = location.href
                }
              })
            },
            true
          )
        }

        const initializeAllAccordions = () => {
          const allAccordions = document.querySelectorAll('[data-role="Accordion"]');

          allAccordions.forEach((accordion) => {
            const accordionHeader = accordion.querySelector('[data-type="accordion-header"]')
            const accordionContent = accordion.querySelector('[data-type="accordion-content"]')

            accordionHeader.addEventListener('click', () => {
              if (accordionContent.style.maxHeight) {
                accordionContent.style.maxHeight = ''
              } else {
                accordionContent.style.maxHeight = `${accordionContent.scrollHeight}px`
              }
            })
          })
        }

        listenForUrlChanges()
        runAllScripts()
      }
    </script>