@using Microsoft.AspNetCore.Identity
@using DomainLayer.Models
@using DomainLayer.Models.ViewModels
@using System.IO;
@model MeatInspectionReportViewModel

@inject SignInManager<AccountDetails> SignInManager;
@inject UserManager<AccountDetails> UserManager;

@{
    ViewData["Title"] = "Index";

}

<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="~/css/createMeatCheck.css" asp-append-version="true">
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.10/xlsx.full.min.js"></script>

<style>
    [aria-hidden="true"] {
        position: absolute;
        left: -9999px;
    }

    #content h1 {
        text-align: center;
        font-size: 53px;
        font-weight: 700;
    }

    #content main .FirstLayer .applications h3 {
        font-size: 35px;
        font-weight: 600;
        margin-top: 5px;
        /*margin-bottom: 3px;*/
        /* margin-left: 10px;*/
        color: var(--black);
    }

    #content main .FirstLayer .applications1 {
        flex-grow: 1;
        flex-basis: 200px;
        margin-bottom: 10px;
        overflow-x: hidden;
    }

    #image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 400px;
        display: block;
    }

    .form-group1 {
        display: flex;
        column-gap: 10px;
        flex-grow: 1
    }

        .form-group1 .input-box {
            width: 100%;
            margin-top: 10px;
        }

    .modal {
        display: none;
        position: fixed;
        z-index: 120000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        max-width: 40%;
        max-height: 40vh;
        margin-top: 25vh;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #fff;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<section id="content">
    <main class="registration">
        <div class="FirstLayer">

            <button id="downloadButton" onclick="download()">
                Download <i class="bx bx-download"></i>
            </button>

        </div>

        @* <div class="FirstLayer"></div>*@

        <table class="table table-bordered table-responsive-sm hidden-table" id="tableni">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Id</th>
                    <th scope="col">ReceivingReportId</th>

                </tr>
            </thead>

            <tbody>

                @foreach (var inspection in ViewData["meatInspectionReports"] as IEnumerable<DomainLayer.Models.MeatInspectionReport>)
                {
                    <tr>
                        <td>@inspection.RepDate</td>
                        <td>@inspection.Id</td>
                        <td>@inspection.ReceivingReportId</td>
                    </tr>
                }

            </tbody>
        </table>

        <div class="FirstLayer">
            <div class="applications1">
                <h1>DAILY MEAT INSPECTION REPORT (DMIR)</h1>
                <hr />

                <form asp-action="DailyIndex">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group" style="display: flex; justify-content: center; align-items: center;">
                        <img id="image" src="~/img/@(Model.Specie).gif" />

                    </div>
                    <br />

                    <div class="form-group1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-box">
                                    <label asp-for="RepDate" class="control-label">Date Inspected:</label>
                                    <input type="text" value="@Model.RepDate.ToString("yyyy-MM-dd h:mm tt")" class="form-control" disabled />
                                    <span asp-validation-for="RepDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <label asp-for="Address" class="control-label">Address:</label>
                                        <input asp-for="Address" class="form-control" disabled />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <label asp-for="AccountDetailsId" class="control-label">Inspected by:</label>
                                        <select asp-for="AccountDetailsId" class="form-control" asp-items="ViewBag.AccountDetailsId" disabled></select>
                                        <span asp-validation-for="AccountDetailsId" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>


                    <div class="column">
                        <div class="form-group1">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <label asp-for="MeatEstablishment" class="control-label">Meat Establishment:</label>
                                        <input asp-for="MeatEstablishment" class="form-control" disabled />
                                        <span asp-validation-for="MeatEstablishment" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-box">
                                        <label asp-for="LicenseToOperateNumber" class="control-label">License to Operate Number:</label>
                                        <input asp-for="LicenseToOperateNumber" class="form-control" disabled />
                                        <span asp-validation-for="LicenseToOperateNumber" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-box">
                                    <label asp-for="VerifiedBy" class="control-label">Verified by POSMS Head:</label>
                                    <input disabled asp-for="VerifiedBy" class="form-control" />
                                    <span asp-validation-for="VerifiedBy" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <select asp-for="ReceivingReportId" class="form-control" asp-items="ViewBag.ReceivingReportId" style="display: none;"></select>
                        <span asp-validation-for="ReceivingReportId" class="text-danger"></span>
                    </div>

                </form>
            </div>
        </div>

        <div class="FirstLayer">
            <div class="applications">
                <h3 class="card-title m-b-0">I. ANTEMORTEM INSPECTION</h3>
                <br />
                <h5 class="card-title m-b-0">A. Receiving of Food Animals for Slaughter</h5>
                <br />

                <table class="table table-bordered table-responsive-sm " id="tableOne">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Name of Meat Dealer</th>
                            <th scope="col">Species of Food Animals</th>
                            <th scope="col">Total Number of Animals</th>

                            <th scope="col" aria-hidden="true">Id</th>

                        </tr>
                    </thead>
                    @{
                        // Assuming accountId is the specific AccountDetails id you want to filter by
                        var model1 = ViewData["ReceivingReports"] as IEnumerable<DomainLayer.Models.ReceivingReport>;
                        string accountId = UserManager.GetUserId(User);
                        var filteredModel = model1;

                        if (User.IsInRole("MeatEstablishmentRepresentative") || User.IsInRole("MeatInspector"))
                        {
                            // Fetch the MeatEstablishmentId of the logged-in user from the UserManager (assuming it has the necessary extension method to fetch user details).
                            var loggedInUser = await UserManager.GetUserAsync(User);

                            // Explicitly cast the meatEstablishmentId to a non-nullable int and provide a default value of 0 if it's null.
                            Guid meatEstablishmentId = loggedInUser.MeatEstablishmentId ?? Guid.Empty;

                            // Filter the Model based on the MeatEstablishmentId
                            filteredModel = model1.Where(item => item.AccountDetails.MeatEstablishmentId == meatEstablishmentId);
                        }
                        else if (User.IsInRole("InspectorAdmin"))
                        {
                            // No filtering required for InspectorAdmin, so keep the original Model.
                            filteredModel = model1;
                        }
                    }
                    <tbody>

                        @foreach (var item in model1)
                        {
                            <tr>
                                <td>@item.RecTime</td>
                                <td>@item.MeatDealers.FirstName @item.MeatDealers.LastName</td>
                                <td>@item.Species</td>
                                <td>@item.NoOfHeads</td>
                                <td aria-hidden="true">@item.Id</td>
                            </tr>
                        }

                    </tbody>

                </table>
                <br />

                <h5 class="card-title m-b-0">B. Conduct of Antemortem Inspection</h5>
                <br />
                <table class="table table-bordered table-responsive-sm " id="tableTwo">
                    <thead>
                        <tr>
                            <th scope="col">Name of Meat Dealer</th>
                            <th scope="col">Species of Food Animals</th>
                            <th scope="col">Issue</th>
                            <th scope="col">No. of heads</th>
                            <th scope="col">Weight (kg)</th>
                            <th scope="col">Cause</th>
                            <th scope="col" aria-hidden="true">Id</th>
                           @*  <th scope="col" aria-hidden="true">MeatInspectionId</th> *@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var inspection in ViewData["ConductOfInspections"] as IEnumerable<DomainLayer.Models.Antemortem>)
                        {
                            <tr>
                                @* <td>@inspection.ReceivingReport.MeatDealers.FirstName</td> *@
                                <td>@inspection.ReceivingReport.Species</td>
                                <td>@inspection.Issue</td>
                                <td>@inspection.NoOfHeads</td>
                                <td>@inspection.Weight</td>
                                <td>@inspection.Cause</td>
                                <td aria-hidden="true">@inspection.Id</td>
                                @* <td aria-hidden="true">@inspection.MeatInspectionReportId</td> *@
                            </tr>
                        }
                    </tbody>
                </table>
                <br />
                <h5 class="card-title m-b-0">C. Passed for Slaughter</h5>
                <br />
                <table class="table table-bordered" id="tableThree">
                    <thead>
                        <tr>
                            <th scope="col">Name of Meat Dealer</th>
                            <th scope="col">Species of Food Animal</th>
                            <th scope="col">No. of heads</th>
                            <th scope="col">Weight</th>
                            <th scope="col" aria-hidden="true">Id</th>
                            <th scope="col" aria-hidden="true">ConductOfInpscetionId</th>

                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var passed in ViewData["PassedForSlaughters"] as IEnumerable<DomainLayer.Models.PassedForSlaughter>)
                        {
                            <tr>
                                @* <td>@passed.ConductOfInspection.ReceivingReport.MeatDealers.FirstName</td> *@
                                @* <td>@passed.ConductOfInspection.ReceivingReport.Species</td> *@
                                <td>@passed.NoOfHeads</td>
                                <td>@passed.Weight</td>
                                <td aria-hidden="true">@passed.Id</td>
                                @* <td aria-hidden="true">@passed.ConductOfInspectionId</td> *@
                                <!-- Add columns for "Rejected for Slaughter" and "Condemned" as needed -->
                            </tr>
                            // Build a unique key for each combination of Issue, Cause, Species, and Meat Dealer

                        }
                    </tbody>

                </table>

            </div>
        </div>

        <div class="FirstLayer">
            <div class="applications">
                <h3 class="card-title m-b-0">II. POSTMORTEM INSPECTION</h3>
                <br />
                <table class="table table-bordered" id="tableFour">
                    <thead>
                        <tr>
                            <th scope="col">Name of Meat Dealer></th>
                            <th scope="col">Type of Meat</th>
                            <th scope="col">Animal Part</th>
                            <th scope="col">Cause</th>
                            <th scope="col">No. of heads</th>
                            <th scope="col">Weight (kg)</th>
                            <th scope="col" aria-hidden="true">Id</th>
                            <th scope="col" aria-hidden="true">passedSlaughterId</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var post in ViewData["postmortem"] as IEnumerable<DomainLayer.Models.Postmortem>)
                        {
                            <tr>
                                @* <td>@post.PassedForSlaughter.ConductOfInspection.ReceivingReport.MeatDealers.FirstName</td> *@
                                @* <td>@post.PassedForSlaughter.ConductOfInspection.ReceivingReport.Species</td> *@
                                <td>@post.AnimalPart</td>
                                <td>@post.Cause</td>
                                <td>@post.NoOfHeads</td>
                                <td>@post.Weight</td>
                                <td aria-hidden="true">@post.Id</td>

                                <!-- Add columns for "Rejected for Slaughter" and "Condemned" as needed -->
                            </tr>

                        }
                    </tbody>

                </table>


            </div>
        </div>




        <div class="FirstLayer">
            <div class="applications">

                <h3 class="card-title m-b-0">III. TOTAL NUMBER OF FOOD ANIMALS FIT FOR HUMAN CONSUMPTION</h3>
                <br />
                <table class="table table-bordered" id="tableFive">
                    <thead>
                        <tr>
                            <th scope="col">Species of Food Animals</th>
                            <th scope="col">Total Number of Animals</th>
                            <th scope="col">Total Dressed Weight</th>
                            <th scope="col" aria-hidden="true">Id</th>


                        </tr>

                    </thead>
                    <tbody>
                       @*  @foreach (var total in ViewData["totalNoFitForHumanConsumption"] as IEnumerable<DomainLayer.Models.TotalNoFitForHumanConsumptions>)
                        {
                            <tr>

                                <td>@total.Postmortem.PassedForSlaughter.ConductOfInspection.ReceivingReport.Species</td>
                                <td>@total.NoOfHeads</td>
                                <td>@total.DressedWeight</td>
                                <td aria-hidden="true">@total.Id</td>

                                <!-- Add columns for "Rejected for Slaughter" and "Condemned" as needed -->
                            </tr>

                        } *@

                </table>

            </div>

        </div>

        <div class="FirstLayer">
            <div class="applications">

                <h3 class="card-title m-b-0">IV. SUMMARY AND DISTRIBUTION OF MEAT INSPECTION CERTIFICATE</h3>
                <br />
                <table class="table table-bordered" id="tableSix">
                    <thead>
                        <tr>
                            <th scope="col">Type of Meat</th>
                            <th scope="col">No. of heads</th>
                            <th scope="col">Weight (kg.)</th>
                            <th scope="col">Destination Name</th>
                            <th scope="col">Destination Address</th>
                            <th scope="col">Meat Inspection Certificate Issued (sheets) If any</th>
                            <th scope="col">Meat Inspection Certificate Cancelled (sheets) If any</th>
                            <th scope="col" aria-hidden="true">Id</th>
                            <th scope="col" aria-hidden="true">totalfitId</th>


                        </tr>

                    </thead>
                    <tbody>
                       @*  @foreach (var summary in ViewData["SummaryAndDistributionOfMICs"] as IEnumerable<DomainLayer.Models.SummaryAndDistributionOfMIC>)
                        {
                            <tr>
                                <td>@summary.TotalNoFitForHumanConsumption.Postmortem.PassedForSlaughter.ConductOfInspection.ReceivingReport.Species</td>
                                <td>@summary.TotalNoFitForHumanConsumption.NoOfHeads</td>
                                <td>@summary.TotalNoFitForHumanConsumption.DressedWeight</td>
                                <td>@summary.DestinationName</td>
                                <td>@summary.DestinationAddress</td>
                                <td>@summary.MICIssued</td>
                                <td>@summary.MICCancelled</td>
                                <td aria-hidden="true">@summary.Id</td>
                                <td aria-hidden="true">@summary.TotalNoFitForHumanConsumptionId</td>


                                <!-- Add columns for "Rejected for Slaughter" and "Condemned" as needed -->
                            </tr>
                        } *@
                    </tbody>

                </table>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx-style/0.8.16/xlsx.full.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/jszip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx-style.min.js"></script>
        <script src="~/js/meatinspectiondailyindex.js" defer></script>





    </main>
</section>




