@using DomainLayer.Models.ViewModels
@model IEnumerable<ReceivingReportViewModel>

@using Microsoft.AspNetCore.Identity;
@using DomainLayer.Models;

@inject SignInManager<AccountDetails> SignInManager
@inject UserManager<AccountDetails> UserManager

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />

<style>
    /* [aria-hidden="true"] {
            position: absolute;
            left: -9999px;
        } */


    #content h1 {
        text-align: center;
        font-size: 53px;
        font-weight: 700;
    }

    #content main .head-title .column {
        margin-top: 2px;
        margin-left: 2px;
        margin-bottom: 25px;
    }

    #content main .column h3 {
        font-size: 25px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        color: var(--black);
    }

    .container1 {
        position: relative;
        max-width: 45%;
        width: 45%;
        background: var(--filterbgcolor);
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        margin-left: 2%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .filterEst {
        width: 200px;
        padding: 10px;
        color: var(--black);
        border: 1px solid var(--filterborder);
        background-color: var(--filterbgcolor);
        border-radius: 5px;
    }
</style>

<section id="content">
    <main>
        <div class="head-title">
            <div class="column">
                <h3>Filters:</h3>
                <div class="form-group">
                    <div class="row gx-1">
                        @if (User.IsInRole("InspectorAdministrator"))
                        {
                            <div class="col-md-6">
                                <div class="input-wrapper">
                                    <label>Meat Establishment:</label>
                                    <select id="meatEstablishmentFilter" asp-items="@ViewBag.MeatEstablishments" class="form-control">
                                        <option value="">All</option>
                                    </select>
                                </div>
                            </div>
                        }

                        <div class="col">
                            <div class="input-wrapper">
                                <label for="dateFilter">Date:</label>
                                <input type="date" id="dateFilter" class="form-control" />
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </div>

        <div class="FirstLayer">
            <div class="applications">
                <h1>DAILY MEAT INSPECTION REPORT (DMIR)</h1>
                <hr />
                <br />
                <div class="row">
                    <div class="container1 col-md-5">
                        <h3 class="text-center">FROZEN</h3>
                        <table id="tableFrozen" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Date Received</th>
                                    <th scope="col">Species</th>
                                    <th scope="col">Batch Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td> @item.RecTime.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            <img src="~/img/@(item.Species).png" class="img-large">
                                            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">@item.Species</span>
                                        </td>
                                        <td>@item.BatchCode</td>
                                        <td>
                                            <a class="btn btn-success py-1 ms-1" asp-action="Release" asp-route-id="@item.Id">Release</a>
                                        </td>
                                        <!-- Add columns for "Rejected for Slaughter" and "Condemned" as needed -->
                                    </tr>

                                }
                            </tbody>

                        </table>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center align-items-center" style="width: 10px; margin-left: 25px">
                        <span class="material-symbols-outlined">
                            <img src="~/img/sync_alt.svg" class="img-large">
                        </span>
                    </div>
                    <div class="container1 col-md-5">
                        <h3 class="text-center">RELEASED</h3>
                        <table id="tableFrozen" class="table table-striped table-bordered table-responsive" style="width:100%">
                            <thead>
                                <tr>
                                    <th scope="col">Date Received</th>
                                    <th scope="col">Species</th>
                                    <th scope="col">Batch Code</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td> @item.RecTime.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            <img src="~/img/@(item.Species).png" class="img-large">
                                            <span class="badge bg-primary-subtle text-primary-emphasis rounded-pill">@item.Species</span>
                                        </td>
                                        <td>@item.BatchCode</td>
                                        <td>
                                            <div class="btn-group">
                                                <a class="btn btn-danger" asp-action="Frozen" asp-route-id="@item.Id">Remove</a>
                                                <a class="btn btn-success py-1 ms-1" asp-action="DailyIndex" asp-route-id="@item.Id">Show</a>
                                                <a class="btn btn-primary py-1 ms-1 font-weight-light view" value="@item.MeatInspectionReport.UID">QR Code</a>

                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tbody>

                        </table>
                    </div>
                </div>
               
            </div>
        </div>

        @*Modals*@
        <div class="modal fade" id="viewQr" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">QR Code</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                        <div id="qrcode"></div>
                        <h3 id="uniqueId" style="margin-top: 10px;"></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="downloadBtn" class="btn btn-primary">Download</button>
                        <button type="button" id="printBtn" class="btn btn-warning" data-dismiss="modal">Print</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/meatInspectionReports.js" asp-append-version="true"></script>


        <script>
            function filterTable() {
                var selectedText = document.getElementById("meatEstablishmentFilter").options[document.getElementById("meatEstablishmentFilter").selectedIndex].text;


                $("#tableSix tbody tr").each(function () {
                    var cellValue = $(this).find("td:eq(3)").text(); // Assuming the "Meat Establishment" column is the fourth column (index 3).

                    if (selectedText === "All Establishment" || cellValue === selectedText) {
                        $(this).show(); // Display rows with matching Meat Establishment
                    } else {
                        $(this).hide(); // Hide rows with non-matching Meat Establishment
                    }
                });
            }


        </script>

        @* <script src="https://code.jquery.com/jquery-3.3.1.js" defer></script> *@
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" defer></script>

        <script>
            $(document).ready(function () {
                var table = $('#tableFrozen').DataTable({
                    paging: true,
                    lengthChange: true,
                    pageLength: 10,
                    lengthMenu: [1, 5, 10, 25, 50, 100],
                    searching: true,
                    ordering: true,
                    responsive: true,
                });

                var currentDate = new Date().toISOString().split('T')[0];

                // Set the value of the date input field to the current date
                $('#dateFilter').val(currentDate);

                // Add an event listener to the date input field
                $('#dateFilter').on('change', function () {
                    table.column(0).search(this.value).draw();
                });

                table.column(0).search(currentDate).draw();


                $('#meatEstablishmentFilter').on('change', function () {
                    var selectedText = $(this).find('option:selected').text();
                    // table.column(3).search(selectedText).draw();
                    if (selectedText === "All") {
                        table.column(3).search('').draw(); // Clear the search filter
                    } else {
                        table.column(3).search(selectedText).draw(); // Apply the selected filter
                    }
                });

            });
        </script>


    </main>
</section>