@model IEnumerable<thesis.Models.MeatEstablishment>

@{
    ViewData["Title"] = "Index";
}
<section id="content">
    <link href="~/css/inspectorSideNav.css" rel="stylesheet" />

    <!-- MAIN STARTS-->
    <main>
        <div class="FirstLayer">

            <div class="applications">

                <h1>Index</h1>

                <p>
                    <a asp-action="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LicenseToOperateNumber)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LicenseToOperateNumber)
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>