@model ConductOfInspectionViewModel
@using Azure.Core;
@using DomainLayer.Models.ViewModels;
@using DomainLayer.Enum;
<link href="~/css/inspectorsidenav.css" rel="stylesheet" />
<link rel="stylesheet" href="~/css/register.css" asp-append-version="true">

@{
    ViewData["Title"] = "Create";
    //int meatInspectionReportId = (int)ViewData["meatInspectionReportId"];
    <style>
        #content h1 {
            color: var(--blue);
        }
    </style>
}

<section id="content">


    <!-- MAIN STARTS-->
    <main class="registration">
        <div class="Container">
            <h1>Conduct of Antemortem Inspection</h1>
        </div>
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Receiving-Acceptance</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Antemortem</li>
                </ol>
            </nav>

            <div class="container">

                @*<h1>Create</h1>*@
                <div class="column">
                    <div class="input-box">
                        <a class='bx bxs-chevron-left' asp-controller="ReceivingReports" asp-action="Index">
                            <span>Back</span>
                        </a>
                        @* <a class='bx bxs-chevron-left' asp-action="Index">
                        <span>Show All</span>

                        </a>*@
                    </div>

                    <form class="form" asp-action="Create">
                        <div class="column">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="input-box">
                                <label asp-for="Issue" class="control-label">Issue:</label>
                                <br />
                                <select asp-for="Issue" class="form-control" asp-items="@Html.GetEnumSelectList<Issue>()">
                                </select>
                                <span asp-validation-for="Issue" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <label asp-for="Cause" class="control-label">Cause:</label>
                                <select asp-for="Cause" class="form-control" asp-items="@Html.GetEnumSelectList<Cause>()">
                                </select>
                                <span asp-validation-for="Cause" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="column">
                            <div class="input-box">
                                <label asp-for="NoOfHeads" class="control-label">No. Of Heads:</label>
                                <input asp-for="NoOfHeads" class="form-control" />
                                <span asp-validation-for="NoOfHeads" class="text-danger"></span>
                            </div>
                            <div class="input-box">
                                <label asp-for="Weight" class="control-label">Weight:</label>
                                <input asp-for="Weight" class="form-control" />
                                <span asp-validation-for="Weight" class="text-danger"></span>
                            </div>
                            <div class="input-box" style="display: none">
                                <label asp-for="MeatInspectionReportId" class="control-label"></label>
                                <select asp-for="MeatInspectionReportId" class="form-control">
                                    <option value="@ViewBag.LatestMeatInspectionReportsId" selected="selected">@ViewBag.LatestMeatInspectionReportsId</option>
                                </select>
                            </div>


                        </div>
                        <br />

                        @* <input type="submit" value="Create" class="btn btn-primary" />*@


                        <button type="submit" value="Create">Create</button>
                        <br />

                    </form>
                    @*<form method="post" action="/ConductOfInspections/actionResult">
                    <input type="hidden" name="Id" value="@Model.MeatInspectionReportsId" />
                    <button type="submit" class="btn btn-primary">Create</button>
                    </form>*@
                </div>
            </div>
        </div>


        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }



        @*    <div class="FirstLayer">

        <div class="applications">
        <div class="search">
        <input type="text" id="searchInput" class="form-control" placeholder="Search..." />
        </div>

        <script>
        $(document).ready(function () {
        $('#searchInput').on('input', function () {
        var searchText = $(this).val().toLowerCase();
        $('.filter-item').each(function () {
        var rowText = $(this).text().toLowerCase();
        if (rowText.indexOf(searchText) === -1) {
        $(this).hide();
        } else {
        $(this).show();
        }
        });
        });
        });
        </script>


        <table class="table">
        <thead>
        <tr>
        <th>
        Issue
        </th>
        <th>
        No.of heads
        </th>
        <th>
        Weight
        </th>
        <th>
        Cause
        </th>
        <th>
        MeatInspectionReport
        </th>
        <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.ConductOfInspections)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Issue)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.NoOfHeads)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Cause)
        </td>
        <td>
        @if (item.MeatInspectionReport != null)
        {
        @Html.DisplayFor(modelItem => item.MeatInspectionReport.Id)
        }
        </td>
        <td>
        <div class="btn-group">
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
        </td>
        </tr>
        }
        </tbody>
        </table>
        </div></div>*@

    </main>
</section>
<script>

</script>