@*

@model IEnumerable<thesis.Core.ViewModel.MeatInspectionReportViewModel>
@{
    ViewData["Title"] = "Index";
}

<link href="~/css/inspectorsidenav.css" rel="stylesheet" />
<section id="content">


    
    <main>
        <div class="FirstLayer">

            <div class="applications">
                <h1>Daily Meat Inspection Report</h1>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Receiving Time
                            </th>
                            <th>
                                Species
                            </th>
                            <th>
                                Live Weight
                            </th>
                            <th>
                                Meat Dealer
                            </th>
                            <th>
                                Issue
                            </th>
                            <th>
                                No. of Heads (Antemortem Inspection)
                            </th>
                            <th>
                                Weight (Antemortem Inspection)
                            </th>
                            <th>
                                Cause (Antemortem Inspection)
                            </th>
                            <th>
                                No. of Heads (Passed for Slaughter)
                            </th>
                            <th>
                                Weight (Passed for Slaughter Slaughter)
                            </th>
                            <th>
                                Animal Part
                            </th>
                            <th>
                                Postmortem Cause
                            </th>
                            <th>
                                Postmortem Weight
                            </th>
                            <th>
                                No. of Heads (Postmortem Inspection)
                            </th>
                            <th>
                                Condemned Meat Image 1
                            </th>
                            <th>
                                Condemned Meat Image 2
                            </th>
                            <th>
                                Condemned Meat Image 3
                            </th>
                            <th>
                                No. of Heads Fit for Human Consumption
                            </th>
                            <th>
                                Dressed Weight Fit for Human Consumption
                            </th>
                            <th>
                                Destination Name
                            </th>
                            <th>
                                Destination Address
                            </th>
                            <th>
                                Certificate Status
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Species)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LiveWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MeatDealer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Issue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cause)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfHeadsPassed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WeightPassed)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnimalPart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostmortemCause)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostmortemWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PostmortemNoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FitforConNoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DressedWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DestinationName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DestinationAddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CertificateStatus)
                                </td>
                                <td>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>*@