@model IEnumerable<DomainLayer.Models.PostArticle>
<section data-bs-version="5.1" class="menu menu2 cid-tJS6tZXiPa" once="menu" id="menu02-0">


	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="https://www.facebook.com/nmis11safemeatforall" target="_blank">
						<img src="assets/images/logo-1.png" alt="NMIS Region XI" style="height: 5rem;">
					</a>
				</span>

			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
					<li class="nav-item">
						<a class="nav-link link text-black text-primary display-4" href="#header01-7">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black text-primary display-4" href="#features04-w" aria-expanded="false">Articles</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black text-primary display-4" href="#contacts02-9">FAQs</a>
					</li>
					<li class="nav-item"><a class="nav-link link text-black text-primary display-4" href="#contacts02-9">About Us</a></li>
				</ul>

				<div class="navbar-buttons mbr-section-btn"><a class="btn btn-primary display-4" href="#form02-6">TRACE</a></div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header1 cid-ucRmm25MAu" id="header01-2a">





	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/bg-final.png">
			</div>
			<div class="col-12 col-lg col-md-12">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-5">
						<strong><br></strong>DEPARTMENT OF AGRICULTURE
						NATIONAL MEAT INSPECTION SERVICE<br><br><strong>PreMESS</strong>
					</h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						<strong>
							Predicting Meat Supply System
						</strong><br>Your trusted partner in meat safety. Our pioneering Meat Profiling System promises a ‘safe meat for all’ experience. Join us in our mission to make every meal secure and enjoyable.
						<br>
						<br><em>#SAFEMEATFORALL</em>
					</p>
					<div class="mbr-section-btn mt-3">
						<a class="btn btn-danger display-7" asp-controller="Trace" asp-action="Index">Get started</a>
						<a class="btn btn-primary display-7" asp-area="Identity" asp-page="/Account/Login">Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="features15 cid-tLek7gQhG7" id="features015-m">




	<div class="container">
		<div class="mbr-section-head mb-5">
			<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Discover our unique features&nbsp;</strong></h4>

		</div>
		<div class="row justify-content-center">

			<div class="item features-without-image col-12 col-lg-3 active">
				<div class="item-wrapper">
					<div class="img-wrapper">
						<img src="assets/images/scan.png" data-slide-to="0" data-bs-slide-to="0">
					</div>
					<div class="card-box">
						<h4 class="card-title mbr-fonts-style mb-3 display-5"><strong>QR Scanning</strong></h4>
						<h5 class="card-text mbr-fonts-style display-7">Our QR scanning feature allows for quick access to meat product information,<div>enhancing transparency and consumer trust in our meat supply.</div></h5>
					</div>
				</div>
			</div><div class="item features-without-image col-12 col-lg-3">
				<div class="item-wrapper">
					<div class="img-wrapper">
						<img src="assets/images/inspection.png" data-slide-to="1" data-bs-slide-to="1">
					</div>
					<div class="card-box">
						<h4 class="card-title mbr-fonts-style mb-3 display-5"><strong>Meat &amp; MTV Inspection</strong></h4>
						<h5 class="card-text mbr-fonts-style display-7">Ensuring quality control in meat products and transport.<div>Our system focuses on safety regulations and resource management for a safer meat experience.</div></h5>
					</div>
				</div>
			</div><div class="item features-without-image col-12 col-lg-3">
				<div class="item-wrapper">
					<div class="img-wrapper">
						<img src="assets/images/location-marker.png" data-slide-to="2" data-bs-slide-to="2">
					</div>
					<div class="card-box">
						<h4 class="card-title mbr-fonts-style mb-3 display-5">
							<strong>Geolocation</strong>
						</h4>
						<h5 class="card-text mbr-fonts-style display-7">With our geolocation feature, trace the journey of your meat.<div>Experience the power of knowledge and assurance in every bite.</div></h5>
					</div>
				</div>
			</div><div class="item features-without-image col-12 col-lg-3">
				<div class="item-wrapper">
					<div class="img-wrapper">
						<img src="assets/images/analytics.png" data-slide-to="3" data-bs-slide-to="3">
					</div>
					<div class="card-box">
						<h4 class="card-title mbr-fonts-style mb-3 display-5">
							<strong>Analytics</strong>
						</h4>
						<h5 class="card-text mbr-fonts-style display-7">Our analytics systematically examine and interpret meat inspection data,<div>providing valuable insights for informed decision-making and improved safety.</div></h5>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<section data-bs-version="5.1" class="news08 cid-uamvqJM5HL" id="news08-1j">


	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-12 content-head">
				<div class="mbr-section-head">
					<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
						<strong>Articles</strong><br><strong><br></strong>
					</h4>
				</div>
			</div>
		</div>
		<div class="row>
			@foreach (var article in Model.OrderByDescending(a => a.Id).Take(3))
			{
			<div class="item features-image col-12 col-md-6 col-lg-4 active">
				<div class="item-wrapper">
					<div class="item-img mb-3">
						<img src="~/img/Articles/@article.Image" title="@article.Label">
					</div>
					<div class="item-content align-left">
						<h5 class="item-title mbr-fonts-style mt-0 mb-3 display-7">
							@article.Title
						</h5>
						<h6 class="item-subtitle mbr-fonts-style mb-3 display-5">
							<strong>@article.Description</strong>
						</h6>
						<span>@article.Author</span>
						<span>@article.Date.ToString("MM/dd/yyyy")</span>
						<div class="mbr-section-btn item-footer">
							<a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="btn item-btn btn-white display-7">Read now</a>
						</div>
					</div>
				</div>
			</div>
			}
			<div class="mbr-section-btn item-footer">
				<a asp-controller="Articles" asp-action="Index" class="btn item-btn btn-white display-7">See All</a>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="header1 cid-tJS9vXDdRK" id="header01-7">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-7 image-wrapper">
				<img class="w-100" src="assets/images/jc-gellidon-fnc3yctccoi-unsplash-14-1-1500w.png">
			</div>
			<div class="col-12 col-lg col-md-12">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>Get Started</strong></h1>
					<p class="mbr-text mbr-fonts-style mb-4 display-7">
						1.&nbsp;<strong>Go to Trace Page</strong>.<strong>&nbsp;</strong>Navigate to the trace page by clicking the trace button.<br>2. <strong>Scan your QR Code</strong>. Activate your camera or scan manually the meat UID/QR code to access detailed meat information.<br>3. <strong>See Meat Information</strong>. Explore comprehensive meat inspection reports, locate addresses,<br>and access valuable guides for your next purchase.<br>
					</p>
					<div class="mbr-section-btn mt-3"><a class="btn btn-white display-7" asp-controller="Trace" asp-action="Index">Trace Now!</a></div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="list1 cid-uamKku7YWh" id="list01-1m">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-10 m-auto">
				<div class="content">
					<div class="row justify-content-center mb-5">
						<div class="col-12 content-head">
							<div class="mbr-section-head">
								<h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
									<strong>Got Questions?</strong>
								</h4>

							</div>
						</div>
					</div>
					<div id="bootstrap-accordion_5" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse1_5" aria-expanded="false" aria-controls="collapse1">
									<h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">&nbsp;What is a meat profiling system?</h6>
									<span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse1_5" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_5">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">
										A meat profiling system is a revolutionary tool that ensures the safety and
										<br>quality of meat products through rigorous inspection and data analysis.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse2_5" aria-expanded="false" aria-controls="collapse2">
									<h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How does meat profiling help in improving food safety?</h6>
									<span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse2_5" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_5">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">
										&nbsp;Meat profiling enhances food safety by providing transparency in the meat supply chain, ensuring compliance with safety regulations,
										<br>and making data-driven decisions based on inspection data.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse3_5" aria-expanded="false" aria-controls="collapse3">
									<h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How does meat profiling affect the meat industry?</h6>
									<span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse3_5" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_5">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">
										Meat profiling positively impacts the meat industry by promoting trust and transparency,
										<br>improving quality control, and enabling informed decision-making based on data analytics.
									</p>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header" role="tab" id="headingOne">
								<a role="button" class="panel-title collapsed" data-toggle="collapse" data-bs-toggle="collapse" data-core="" href="#collapse4_5" aria-expanded="false" aria-controls="collapse4">
									<h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">What are the limitations of a meat profiling system?</h6>
									<span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
								</a>
							</div>
							<div id="collapse4_5" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" data-bs-parent="#bootstrap-accordion_5">
								<div class="panel-body">
									<p class="mbr-fonts-style panel-text display-7">
										While highly beneficial, a meat profiling system requires meticulous data management, relies on the accuracy of inspections,
										<br>and its effectiveness is dependent on the cooperation of all stakeholders in the meat supply chain.
									</p>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="footer3 cid-uan8FTUwTr" once="footers" id="footer03-1w">
	<div class="container">
		<div class="row">
			<div class="col-12 mt-4">
				<div class="social-row">
					<div class="soc-item">
						<a href="https://www.facebook.com/nmis11safemeatforall" target="_blank">
							<span class="mbr-iconfont socicon socicon-facebook display-7"></span>
						</a>
					</div>
					<div class="soc-item">
						<a href="https://www.facebook.com/nmis11safemeatforall" target="_blank">
							<span class="mbr-iconfont socicon-twitter socicon"></span>
						</a>
					</div>
					<div class="soc-item">
						<a href="https://www.facebook.com/nmis11safemeatforall" target="_blank">
							<span class="mbr-iconfont socicon-instagram socicon"></span>
						</a>
					</div>


				</div>
			</div>
			<div class="col-12 mt-5">
				<p class="mbr-fonts-style copyright display-7">
					© Copyright 2030 Mobirise - All Rights Reserved
				</p>
			</div>
		</div>
	</div>
</section>

<div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbr-arrow-up-icon mbr-arrow-up-icon-cm cm-icon cm-icon-smallarrow-up"></i></a></div>
<input name="animation" type="hidden">