@* @model DomainLayer.Models.Postmortem
<link href="~/css/inspectorsidenav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Postmortem</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassedForSlaughter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassedForSlaughter.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnimalPart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnimalPart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cause)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cause)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHeads)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoOfHeads)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div> *@