@* @model IEnumerable<DomainLayer.Models.Postmortem>
<link href="~/css/inspectorsidenav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Index";
    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            Toast.fire({
                icon: 'success',
                title: '@ViewBag.AlertMessage'
            });
        </script>
    }
    if (!string.IsNullOrEmpty(ViewBag.AlertMessagee))
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'bottom-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }-
                                                });

            Toast.fire({
                icon: 'success',
                title: '@ViewBag.AlertMessagee'
            });
        </script>
    }
}
<section id="content">


    <!-- MAIN STARTS-->
    <main>
        <div class="FirstLayer">
            <h1>Conduct of Postmortem Inspection</h1>
        </div>
        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">II</li>
                </ol>
            </nav>
        </div>

        <div class="FirstLayer">

            <div class="applications">
                <a asp-controller="Postmortems" asp-action="Create"> Create Report </a>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Passed for Slaughters No. Of Heads
                            </th>
                            <th>
                                Passed for Slaughters Weight
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AnimalPart)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cause)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Weight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.NoOfHeads)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image1)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Image3)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PassedForSlaughter.NoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PassedForSlaughter.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AnimalPart)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cause)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Weight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoOfHeads)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Image3)
                                </td>
                                <td>
                                    @if (User.IsInRole("MeatInspector"))
                                    {
                                        <div class="btn-group">
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <br />

                <div class="button">
                    <a class="btn btn-dark " asp-controller="TotalNoFitForHumanConsumptions" asp-action="Create"> <span>Next</span> <i class="bx bx-chevron-right"> </i> </a>
                </div>

            </div>

        </div>
    </main>
</section> *@