@using thesis.Core.ViewModel;
@model AnalyticsViewModel

@*@using (Html.BeginForm("Index", "Analytics", FormMethod.Post))
{
    <div>
        @Html.LabelFor(m => m.SelectedSpecies)
        @Html.DropDownListFor(m => m.SelectedSpecies, Model.SpeciesList)
    </div>

    <div>
        @Html.LabelFor(m => m.SelectedTimeSeries)
        @Html.DropDownListFor(m => m.SelectedTimeSeries, Model.TimeSeriesList, "--Select a Time--")
    </div>

    <button type="submit">Submit</button>
}*@

@*@if (Model.DressedWeight != null && Model.DressedWeight.Any())
{
    <ul>
        @foreach (var dataPoint in Model.DressedWeight)
        {
            <li>@dataPoint</li>
        }
        @foreach (var dataPoint in Model.Dates)
        {
            <li>@dataPoint</li>
        }
    </ul>
}
else
{
    <p>No analytics data available.</p>
}*@


@*
<canvas id="lineChart" class="mt-4 p-xl-5" style="width: 400px; height: 200px;"></canvas>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    //line
    var ctxL = document.getElementById("lineChart").getContext('2d');
    var labels = [@if (Model.Dates != null && Model.Dates.Any())
    {
        @foreach (var date in Model.Dates)
        {
            @Html.Raw("'" + date + "',")
        }
    }
        ];

    var myLineChart = new Chart(ctxL, {
        type: 'line',
        data: {
        labels: labels,
            datasets: [{
                label: "My First dataset",
                data: [@if (Model.DressedWeight != null && Model.DressedWeight.Any())
                {
                    foreach (var weight in Model.DressedWeight)
                    {
                        @Html.Raw(weight.ToString() + ",")
                    }
                }],
                backgroundColor: [
                    'rgba(105, 0, 132, .2)',
                ],
                borderColor: [
                    'rgba(200, 99, 132, .7)',
                ],
                borderWidth: 2
            }
            ]

        },
        options: {
            responsive: true
        }
    });
</script>*@