@using DomainLayer.Models.ViewModels;
@model MtvDashboardViewModel

<link rel="stylesheet" href="~/css/dashy.css" asp-append-version="true" />
<section id="content">
	<!-- MAIN STARTS-->
	<main>
		<div class="head-title">
			<div class="left">
				<h1>Dashboard</h1>
			</div>
		</div>

		<div class="container1">

			<div class="FirstLayer">

				<div class="applications">
					<div class="head">
						<h3>MTV Inspectors</h3>
						<i class='bx bx-search' id="search-icon"></i>
						<i class='bx bx-filter' id="filter-icon"></i>
						<i class='bx bx-refresh' id="refresh-icon"></i>
					</div>
					<table id="applications-table">
						<thead>
							<tr>
								<th>Inspector</th>
								<th>Contact Number</th>
								<th>Roles</th>
							</tr>
						</thead>
						<tbody>

							@* @foreach (var item in Model.AccountDetails)
							{
								if (item.Roles == DomainLayer.Enum.Roles.MTVADMIN || item.Roles == DomainLayer.Enum.Roles.MTVINSPECTOR || item.Roles == DomainLayer.Enum.Roles.MTVUSERS)
								{
									<tr>
										<td>
											<p>@item.firstName @item.lastName</p>
										</td>
										<td>@item.contactNo</td>
										<td>@item.Roles</td>
									</tr>
								}
							} *@
						</tbody>
					</table>
				</div>
				<div class="applications">
					<div class="head">
						<h3>MTV Checklist</h3>
						<i class='bx bx-search' id="search-icon1"></i>
						<i class='bx bx-filter' id="filter-icon1"></i>
						<i class='bx bx-refresh' id="refresh-icon1"></i>
					</div>
					<table id="applications-table1">
						<thead>
							<tr>
								<th>Owner</th>
								<th>Inspector</th>
								<th>Accreditation Number</th>
								<th>Inspection Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model.Checklists)
							{

								<tr>
									<td>
										<p>@item.operatorname</p>
									</td>
									<td>@item.inspectorname</td>
									<td>@item.plateno</td>
									<td>@item.inspectdate</td>
									<td>@item.status</td>
								</tr>

							}
						</tbody>
					</table>
				</div>
				<div class="applications">
					<div class="head">
						<h3>MTV Payment</h3>
						<i class='bx bx-search' id="search-icon1"></i>
						<i class='bx bx-filter' id="filter-icon1"></i>
						<i class='bx bx-refresh' id="refresh-icon1"></i>
					</div>
					<table id="applications-table1">
						<thead>
							<tr>
								<th>SOA</th>
								<th>Email</th>
								<th>Date</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>

							@foreach (var item in Model.Payments)
							{

								<tr>
									<td>
										<p>@item.SOA</p>
									</td>
									<td>@item.Email</td>
									<td>@item.Date</td>
									<td>@item.MTVApplication.Status</td>
								</tr>

							}
						</tbody>
					</table>
				</div>
			</div>



		</div>

	</main>
	<!-- MAIN ENDS -->

</section>