@model thesis.Models.MeatDealers
<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
@{
    ViewData["Title"] = "Delete";
}
<section id="content">

    <!-- MAIN STARTS-->
    <main>


        <div class="FirstLayer">

            <div class="applications">
                <h1>Meat Dealer</h1>

                <h3>Are you sure you want to delete this?</h3>
                <div>
                    @* <h4>MeatDealers</h4>*@
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            First Name:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>
                        <dt class="col-sm-2">
                            Middle Name:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MiddleName)
                        </dd>
                        <dt class="col-sm-2">
                            Last Name:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LastName)
                        </dd>
                        <dt class="col-sm-2">
                            Address:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Address)
                        </dd>
                        <dt class="col-sm-2">
                            Contact No.:
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ContactNo)
                        </dd>
                        @*<dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.MeatEstablishment)
                        </dt>
                        <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.MeatEstablishment.Id)
                        </dd>*@
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>

        </div>
    </main>
</section>