@model IEnumerable<thesis.Models.MeatDealers>

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/inspectorSideNav.css" rel="stylesheet" />
<section id="content">


    <!-- MAIN STARTS-->
    <main>
        <div class="FirstLayer">
            <h3>Meat Dealer Lists</h3>
        </div>

        <div class="FirstLayer">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Meat Dealer</li>
                </ol>
            </nav>
        </div>


        <div class="FirstLayer">

            <div class="applications">
                @if (User.IsInRole("MeatEstablishmentRepresentative"))
                {
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                    <br />
                }
                <div class="search">
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." />
                </div>
                <script>
                    $(document).ready(function () {
                        $('#searchInput').on('input', function () {
                            var searchText = $(this).val().toLowerCase();
                            $('.filter-item').each(function () {
                                var rowText = $(this).text().toLowerCase();
                                if (rowText.indexOf(searchText) === -1) {
                                    $(this).hide();
                                } else {
                                    $(this).show();
                                }
                            });
                        });
                    });
                </script>
                <table class="table">


                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MeatEstablishment)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="filter-item">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MeatEstablishment.Name)
                                </td>
                                @if (User.IsInRole("MeatEstablishmentRepresentative"))
                                {
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>

<script>
    $(document).ready(function () {
        $('#searchInput').on('input', function () {
            var searchText = $(this).val().toLowerCase();
            $('.filter-item').each(function () {
                var rowText = $(this).text().toLowerCase();
                if (rowText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>