@using DomainLayer.Enum;
@model IEnumerable<DomainLayer.Models.ViewModels.MeatEstablishmentViewModel>

@{
    ViewData["Title"] = "Index";
    if (!string.IsNullOrEmpty(ViewBag.AlertMessage))
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            Toast.fire({
                icon: 'success',
                title: '@ViewBag.AlertMessage'
            });
        </script>


    }
    if (!string.IsNullOrEmpty(ViewBag.AlertMessagee))
    {
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            });

            Toast.fire({
                icon: 'success',
                title: '@ViewBag.AlertMessagee'
            });
        </script>
    }



}


<link href="~/css/inspectorSideNav.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<style>
    #content .FirstLayer .applications h3 {
        font-size: 40px;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 10px;
        color: var(--black);
    }

    .centerbtn .custombtn {
        margin-top: 15px;
        margin-bottom: 2px;
        margin-left: 10px;
        width: 150px;
        background-color: var(--green7);
        border: 1px solid var(--green7);
        color: var(--white);
    }

        .centerbtn .custombtn:hover {
            margin-top: 15px;
            margin-bottom: 2px;
            margin-left: 10px;
            width: 150px;
            background-color: var(--light-green);
            border: 1px solid var(--light-green);
            color: var(--white);
        }
</style>

<section id="content">

    <!-- MAIN STARTS-->
    <main>

        @*<div class="FirstLayer">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">List of Meat Establishment</li>
        </ol>
        </nav>
        </div>*@

        <div class="centerbtn">
            <a class="btn btn-warning custombtn" asp-action="Create">Create New</a>
        </div>


        <div class="FirstLayer">
            <div class="applications">
                <h3>Meat Establishments</h3>
                <hr />
                <br />
                <table id="example" class="table table-striped table-bordered table-responsive" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Establishment Type
                            </th>
                            <th>
                                Establishment Name
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                License Status
                            </th>
                            <th>
                                LTO No.
                            </th>
                            <th>
                                Latitude
                            </th>
                            <th>
                                Longitude
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            @if (item.Type != null && item.Name != null && item.Address != null && item.LicenseToOperateNumber != null)
                            {
                                <tr class="filter-item">
                                    @* <td>
                            @Html.DisplayFor(modelItem => item.Type)
                            </td>*@
                                    <td>
                                        @if (item.Type == EstablishmentType.SLH)
                                        {
                                            @Html.Raw("Slaughter House")
                                        }
                                        else if (item.Type == EstablishmentType.PDP)
                                        {
                                            @Html.Raw("Poultry Dressing Plant")
                                        }
                                        else if (item.Type == EstablishmentType.MCP)
                                        {
                                            @Html.Raw("Meat Cutting Plant")
                                        }
                                        else if (item.Type == EstablishmentType.CSW)
                                        {
                                            @Html.Raw("Cold Storage Warehouse")
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Type)
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenseStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LicenseToOperateNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Lat)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Long)
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </main>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.js" defer></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js" defer></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable({
            paging: true,           // Enable pagination
            lengthChange: true,    // Enable "Show [x] entries" dropdown
            pageLength: 10,        // Set the default number of rows per page
            lengthMenu: [2, 10, 25, 50, 100], // Define the options in the "Show [x] entries" dropdown
            searching: true,       // Enable search functionality
            ordering: true,        // Enable column sorting
            responsive: true,
        });

        $('#searchInput').on('input', function () {
            var searchText = $(this).val().toLowerCase();
            $('.filter-item').each(function () {
                var rowText = $(this).text().toLowerCase();
                if (rowText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>