@*@model ICollection<ReceivingReport>*@

<div class="text-center">
    @*<h1 class="display-4">Producers</h1>
    @if (@Model != null && @Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date/Time</th>
                    <th scope="col">Shipment BatchCode</th>
                    <th scope="col">No. of heads</th>
                    <th scope="col">Live Weight</th>
                    <th scope="col">Meat Dealer</th>
                    <th scope="col">Origin of Animals</th>
                    <th scope="col">Shipping Doc.</th>
                    <th scope="col">Holding Pen no.</th>
                    <th scope="col">Received by</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rreport in Model)
                {
                        <tr>
                            <th scope="row"></th>
                            <td>@rreport.ShipmentBatchCode</td>
                            <td>@rreport.NoOfHeads</td>
                            <td>@rreport.LiveWeighInKg</td>
                            <td></td>
                            <td>@rreport.OriginOfFoodAnimals</td>
                            <td>@rreport.ShippingDocuments</td>
                            <td>@rreport.HoldingPenNo</td>
                            <td>@rreport.ReceivedBy</td>
                        </tr>
                    }
                
            </tbody>
        </table>
    }*@

    <h1>Total number of heads: @ViewBag.TotalHeads</h1>
</div>
