@model DomainLayer.Models.MTVApplication

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MTVApplication</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.applicationtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.applicationtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerFname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerMname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerMname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerLname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerLname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaxNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaxNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
