@* @model DomainLayer.Models.PassedForSlaughter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PassedForSlaughter</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfHeads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfHeads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConductOfInspection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConductOfInspection.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
 *@